<div class="panel">
	<div class="main-title">Community Event</div>
	<div class="sub-title">Meet and hang with others in the area!</div>
	<div class="image" style="background-image: url('<%- path %>header.png')"></div>
	<div class="age">Age <%- age %></div>
</div>