<div class="panel">
	<div class="main-title">Game Jam</div>
	<div class="sub-title">Make a game in <%= duration %></div>
	<div class="image" style="background-image: url('<%- path %>header.png')"></div>
	<div class="age">Age <%- age %></div>
</div>