<div class="panel">
	<div class="main-title">Monthly Meeting</div>
	<div class="sub-title">Playtesting, discussion, and hanging out!</div>
	<div class="image" style="background-image: url('<%- path %>header.png')"></div>
	<div class="age">Age <%- age %></div>
</div>