layout: layout-with-hero
---
<div class="upcoming-events-list">
	<h1>Upcoming Events</h1>
	<% getEventsFutureOnly(site).forEach(event => { %>
		<%- partial('_partial/event', event) %>
	<% }) %>
</div>
<div class="game-list">
	<h1>Games Developed With RVA Game Jams</h1>
	<p>
		<a href="https://rvagamejams.itch.io/"><img src="img/itch.svg" style="max-height: 40px;" /></a><br/>
		Check out (almost) all of the games developed during our game jams on our <a href="https://rvagamejams.itch.io/"><b>Itch.io page</b></a>. Many games are playable right in the browser with no download required!
	</p>
</div>
<div class="intro">
	<h1>What is RVA Game Jams?</h1>
	<p>
		RVA Game Jams is Richmond, Virginia's home-grown game development community. We focus on supporting developers of all skill ranges through local showcases, meetups, workshops, playtests, game jams, and more. We strive to foster aspiring creators to realize their goals, including members from underrepresented groups to help bring new ideas and perspectives to games. All ranges of skills and experiences are welcome, we'd love to have you as part of our community!
	</p>
</div>