<div class="hero">
	<img src="" style="background: black;" />
	<div class="title">Welcome to RVA Game Jams</div>
</div>
<div class="upcoming-events-list">
	<h1>Upcoming Events</h1>
	<h2>Ludum Dare 42</h2>
</div>
<div class="intro">
	<h1>What is RVA Game Jams?</h1>
	<p>
		RVA Game Jams is Richmond, Virginia's home-grown game development community. We focus on supporting developers of all skill ranges through local showcases, meetups, workshops, playtests, game jams, and more. We strive to foster aspiring creators to realize their goals, including members from underrepresented groups to help bring new ideas and perspectives to games. All ranges of skills and experiences are welcome, we'd love to have you as part of our community!
	</p>
</div>