.hero
    width: container-size
    height: 300px
    @media (max-width: adaptive-screen-size)
        width: 100%
        height: calc(40vw + 20vh)
    
    .image
        coveringImage()
        
    title(triangle-size, title-size, title-spacing = 5px)
        paddingLeft = 9px + 5 * title-spacing
        .content
            display: flex
            align-items: center
            color: white
            background-color: rva-red
            width: 'calc(100% - %s)' % (triangle-size + paddingLeft)
            height: triangle-size
            margin-top: -1 * triangle-size
            padding-left: paddingLeft
            font-family: font-header 
            text-transform: uppercase
            font-size: title-size
            font-weight: bold
            letter-spacing: title-spacing
            white-space: nowrap
        &:before
            content: ' '
            position: absolute
            margin-top: -1 * triangle-size
            triangleBottomLeft(triangle-size, rva-red)
        &:after
            content: ' '
            display: inline-block
            float: right
            margin-top: -1 * triangle-size
            triangleBottomLeft(triangle-size, rva-red)
        
    .title
        title(100px, 3rem)
        @media (max-width: 900px)
            title(80px, 2.5rem)
        @media (max-width: 780px)
            title(60px, 1.8rem)
        @media (max-width: 600px)
            title(40px, 1.4rem)
        @media (max-width: 490px)
            title(40px, 1.3rem, 2px)
        @media (max-width: 384px)
            title(40px, 1.2rem, 2px)