html, body
    height: 100%
    margin: 0

body
    color: #fff
    font-family: sans-serif
    font-weight: bold
    font-size: 6em
    background-color: #a9a9a9
    display: flex
    justify-content: center
    align-items: center
    text-align: center