// global variables
rva-red = #ed2e73
rva-green = #96c93d
rva-blue = #4e6db4
font-header = 'Exo 2', sans-serif
font-body = 'Roboto', sans-serif

// import all styles
@require 'general'
@require 'header'
@require 'footer'
@require 'index'