<div class="event-container">
	<div>
		<h2>Ludum Dare 42</h2>
		<div class="panel">
			<div class="main-title">Game Jam</div>
			<div class="sub-title">Make a game in 48 hours</div>
			<div class="image" style="background-image: url(<%- site.data.vars.EventImage %>)">
			</div>
			<div class="age">Age 18+</div>
		</div>
	</div>
	<div>

	</div>
</div>