<header>
	<div class="icons">
		<a class="logo float-left" href="/" style="background-image: url('img/Logo.png')"></a>
		<a class="float-right" href="<%- site.data.vars.Facebook %>" target="_blank" style="background-image: url('img/Facebook.png')"></a>
		<a class="float-right" href="<%- site.data.vars.Twitter %>" target="_blank" style="background-image: url('img/Twitter.png')"></a>
		<a class="float-right" href="<%- site.data.vars.Discord %>" target="_blank" style="background-image: url('img/Discord.png')"></a>
	</div>
	<div class="separator"></div>
</header>