<header>
	<div class="icons">
		<a class="logo float-left" href="/" style="background-image: url('img/Logo.png')"></a>
		<a class="float-right" href="https://www.facebook.com/groups/rvagamejams" target="_blank" style="background-image: url('img/Facebook.png')"></a>
		<a class="float-right" href="https://twitter.com/rvagamejams" target="_blank" style="background-image: url('img/Twitter.png')"></a>
		<a class="float-right" href="https://discord.gg/7NZJcyY" target="_blank" style="background-image: url('img/Discord.png')"></a>
	</div>
	<div class="separator"></div>
</header>